@import "_variables.scss";

@media (max-width: 428px) {
  body {
    height: 926px;
    contain: content;
    width: 428px;
  }
  .header {
    nav {
      .navbar {
        display: none;
      }
      .btnHome {
        display: block;
        top: 24px;
        right: 33px;
      }
    }
    .banner {
      height: 234px;
      background-image: url(../assets/bcq.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
      .title {
        top: 50px;
        left: 56.5px;
        .first {
          font: normal normal normal 51px/77px $Font2;
        }
        .second {
          font: normal normal normal 51px/69px $Font1;
          margin-top: -30px;
        }
      }
    }
  }
  .responsiveNavbar {
    display: flex;
    top: 280px;
    flex-wrap: wrap;
    left: 30.9px;
    .cardMenu {
      width: 114px;
      height: 92px;
      margin-bottom: 15px;
    }
  }
  .main {
    top: 500px;
    .title {
      font: normal normal normal 54px/74px $Font1;
    }
    .carousel {
      top: -25px;
      position: relative;
      justify-content: flex-start;
      .recipeCard {
        min-width: 180px;
        height: 182px;
        padding: 0px 20px 20px 20px;
        .img {
          width: 111px;
          height: 107px;
        }
        .score {
          span {
            font: normal normal normal 17px/26px $Font2;
            left: 33.45px;
          }
        }
        .star {
          height: 16px;
          width: 16px;
        }
        .heart {
          height: 16px;
          width: 16px;
        }
        .cardTitle {
          text-align: center;
          .firstText {
            font: normal normal normal 20px/24px $Font2;
          }
          .secondText {
            font: normal normal normal 20px/24px $Font1;
          }
        }
      }
    }
  }
  .footer {
    height: 70px;
    .img {
      top: -20px;
      left: 190px;
      width: 228px;
      height: 106px;
      position: absolute;
    }
    .text {
      left: 23.38px;
      top: 20.3px;
      font: normal normal normal 23px/31px $Font1;
    }
  }
}

@media (min-width: 429px) and (max-width: 768px) {
  body {
    height: 1024px;
    contain: content;
    width: 768px;
  }
  .header {
    nav {
      .navbar {
        display: none;
      }
      .btnHome {
        display: block;
        top: 24px;
        right: 25px;
      }
    }
    .banner {
      height: 249px;
      background-image: url(../assets/bcq.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-size: cover;
      .title {
        top: 50px;
        left: 121.55px;
        .first {
          font: normal normal normal 74px/111px $Font2;
        }
        .second {
          font: normal normal normal 67px/91px $Font1;
          margin-top: -10px;
        }
      }
    }
  }
  .responsiveNavbar {
    display: flex;
    top: 288px;
    left: 20px;
    .cardMenu {
      width: 106px;
      height: 85px;
    }
  }
  .main {
    top: 406px;
    .title {
      font: normal normal normal 67px/91px $Font1;
    }
    .carousel {
      .recipeCard {
        height: 209px;
        min-width: 266px;
        .img {
          width: 100px;
          height: 100px;
        }
        .score {
          span {
            font: normal normal normal 26px/39px $Font2;
            left: 47.5px;
          }
        }
        .cardTitle {
          text-align: center;
          .firstText {
            font: normal normal normal 30px/36px $Font2;
          }
          .secondText {
            font: normal normal normal 30px/36px $Font1;
          }
        }
      }
    }
  }
  .footer {
    height: 115.65px;
    .img {
      top: -46px;
      left: 328.39px;
      width: 379px;
      height: 175px;
      position: absolute;
    }
    .text {
      left: 49px;
      top: 30.3px;
      font: normal normal normal 39px/53px $Font1;
    }
  }
}

@media (min-width: 769px) {
  body {
    height: 1280px;
    contain: content;
  }
  .header {
    nav {
      .navbar {
        display: flex;
      }
      .btnHome {
        display: none;
      }
    }
    .banner {
      height: 416px;
      background-image: url(../assets/bcq.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-size: cover;
      .title {
        top: 134px;
        left: 261px;
        .first {
          font: normal normal normal 74px/111px $Font2;
        }
        .second {
          font: normal normal normal 67px/91px $Font1;
          margin-top: -10px;
        }
      }
    }
  }
  .responsiveNavbar {
    display: none;
  }
  .main {
    top: 513px;
    .title {
      font: normal normal normal 67px/91px $Font1;
    }
    .carousel {
      justify-content: center;
      .recipeCard {
        height: 269px;
        &.show {
          height: 100%;
        }
        min-width: 266px;
        .img {
          width: 164px;
          height: 158px;
        }
        .score {
          span {
            font: normal normal normal 26px/39px $Font2;
            left: 47.5px;
          }
        }
        .menu {
          .subTitle {
            font: normal normal normal 17px/20px $Font1;
          }
          .text {
            font: normal normal normal 15px/20px $Font2;
          }
        }
        .cardTitle {
          text-align: center;
          .firstText {
            font: normal normal normal 30px/40px $Font2;
          }
          .secondText {
            font: normal normal normal 30px/40px $Font1;
          }
        }
      }
    }
  }
  .footer {
    .img {
      top: -46px;
      right: 60px;
      width: 536px;
      height: 248px;
      position: absolute;
    }
    .text {
      left: 166px;
      top: 52.3px;
      font: normal normal normal 56px/76px $Font1;
    }
  }
}
