@import "_variables.scss";

@media (max-width: 428px) {
  body {
    height: 926px;
    contain: content;
    width: 428px;
  }
  .header {
    nav {
      .navbar {
        display: none;
      }
      .btn-home {
        display: block;
        top: 24px;
        right: 33px;
      }
    }
    .banner {
      height: 234px;
      background-image: url(../assets/bcq.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
      .title {
        top: 50px;
        left: 56.5px;
        .first {
          font: normal normal normal 51px/77px $Font2;
        }
        .second {
          font: normal normal normal 51px/69px $Font1;
          margin-top: -30px;
        }
      }
    }
  }
  .main {
    top: 500px;
    .title {
      padding-left: 64px;
      font: normal normal normal 54px/74px $Font1;
    }
    .carousel {
      top: -25px;
      position: relative;
      justify-content: flex-start;
      .recipeCard {
        width: 180px;
        height: 182px;
        .img {
          width: 111px;
          height: 107px;
          margin-left: 34.84px;
        }
      }
    }
  }
  .footer {
    height: 70px;
    .img {
      top: -20px;
      left: 190px;
      width: 228px;
      height: 106px;
      position: absolute;
    }
    .text {
      left: 23.38px;
      top: 20.3px;
      font: normal normal normal 23px/31px $Font1;
    }
  }
}

@media (min-width: 429px) and (max-width: 768px) {
  body {
    height: 1024px;
    contain: content;
    width: 768px;
  }
  .header {
    nav {
      .navbar {
        display: none;
      }
      .btn-home {
        display: block;
        top: 24px;
        right: 25px;
      }
    }
    .banner {
      height: 249px;
      background-image: url(../assets/bcq.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-size: cover;
      .title {
        top: 50px;
        left: 121.55px;
        .first {
          font: normal normal normal 74px/111px $Font2;
        }
        .second {
          font: normal normal normal 67px/91px $Font1;
          margin-top: -10px;
        }
      }
    }
  }
  .main {
    top: 406px;
    .title {
      padding-left: 70px;
      font: normal normal normal 67px/91px $Font1;
    }
    .carousel {
      justify-content: flex-start;
      .recipeCard {
        height: 269px;
        width: 266px;
        .img {
          width: 164px;
          height: 158px;
          margin-left: 51.55px;
        }
      }
    }
  }
  .footer {
    height: 115.65px;
    .img {
      top: -46px;
      left: 328.39px;
      width: 379px;
      height: 175px;
      position: absolute;
    }
    .text {
      left: 49px;
      top: 30.3px;
      font: normal normal normal 39px/53px $Font1;
    }
  }
}

@media (min-width: 769px) {
  body {
    height: 1280px;
    contain: content;
  }
  .header {
    nav {
      .navbar {
        display: flex;
      }
      .btn-home {
        display: none;
      }
    }
    .banner {
      height: 416px;
      background-image: url(../assets/bcq.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-size: cover;
      .title {
        top: 134px;
        left: 261px;
        .first {
          font: normal normal normal 74px/111px $Font2;
        }
        .second {
          font: normal normal normal 67px/91px $Font1;
          margin-top: -10px;
        }
      }
    }
  }
  .main {
    top: 513px;
    .title {
      padding-left: 70px;
      font: normal normal normal 67px/91px $Font1;
    }
    .carousel {
      justify-content: center;
      .recipeCard {
        height: 269px;
        width: 266px;
        .img {
          width: 164px;
          height: 158px;
          margin-left: 51.55px;
        }
        &.show {
          height: 100%;
        }
        .menu {
          font: normal normal normal 20px/40px $Font1;
        }
        .title {
          font: normal normal normal 30px/40px $Font1;
        }
      }
    }
  }
  .footer {
    .img {
      top: -46px;
      right: 60px;
      width: 536px;
      height: 248px;
      position: absolute;
    }
    .text {
      left: 166px;
      top: 52.3px;
      font: normal normal normal 56px/76px $Font1;
    }
  }
}
