@import '_variables.scss';

.header {
  nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 69px;
    box-shadow: 0px 3px 6px #8395a7;
    .logo {
      margin-left: 70px;
      span {
        text-transform: capitalize;
        opacity: 1;
      }
      .first {
        text-align: left;
        letter-spacing: 1.15px;
        color: $color-425966;
        font: normal normal normal 40px/54px $Font1;
      }
      .second {
        text-align: left;
        font: normal normal normal 30px/46px $Font2;
        letter-spacing: 0.86px;
        color: $color-d84a4a;
        opacity: 1;
      }
    }
    .navbar {
      position: absolute;
      right: 65px;
      ul {
        display: flex;
        list-style: none;
        font: normal normal normal 13px/20px $Font2;
      }
      li {
        color: $color-425966;
        text-align: left;
        letter-spacing: 0px;
        opacity: 1;
        padding: 0px 15px;
        &.selected {
          color: $color-d84a4a;
        }
        &:hover {
          color: $color-d84a4a;
          text-align: left;
          letter-spacing: 0px;
          opacity: 1;
          cursor: pointer;
        }
      }
    }
    .btn-home {
      height: 25px;
      width: 25px;
      background-image: url(../assets/icons/ic_home.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
      position: absolute;
    }
  }
  .banner {
    background-size  : 100% 100%;
    background-repeat: no-repeat;
    background-size  : cover;
    width            : 100%;
    contain          : content;
    .title {
      position      : absolute;
      display       : flex;
      flex-direction: column;
      width         : 300px;
      .first {
        text-align    : left;
        letter-spacing: 0px;
        color         : $color-text;
        opacity       : 1;
        height        : 79px;
      }
      .second {
        text-align    : left;
        letter-spacing: 0px;
        color         : $color-text;
        opacity       : 1;
      }
    }
}
}

.main {
  contain: content;
  width: 100%;
  position: absolute;
  .title {
    color: $color-d84a4a;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
  }
  .carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .recipeCard {
      width: 100%;
      opacity: 1;
      position: relative;
      box-shadow: 10px 10px 20px -5px #cccccc;
      border-radius: 15px;
      margin-top: 25px;
      margin-right: 25.82px;
      transition: height 0.2s;
      list-style: none;
      background: transparent linear-gradient(180deg, #e9f1fa 0%, #ffffff 100%)
        0% 0% no-repeat padding-box;
      .img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: relative;
        top: -25px;
      }
      .title {
        color: $color-d84a4a;
        text-align: left;
        letter-spacing: 0px;
        word-wrap: break-word;
        overflow: hidden;
      }
    }
  }
}

.footer {
  bottom: 23px;
  position: absolute;
  height: 167px;
  width: 100%;
  background: transparent linear-gradient(180deg, #c2e3f3 0%, #6aa3c1 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 4px 6px 23px #a9a9a911;
  opacity: 1;
  .text {
    width: 381px;
    height: 83px;
    position: absolute;
    text-align: left;
    letter-spacing: 0px;
    color: $color-425966;
    opacity: 1;
    span {
      text-align: left;
      letter-spacing: 0px;
      color: $color-425966;
    }
  }
}