@import "_variables.scss";

.header {
  nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 69px;
    box-shadow: 0px 3px 6px #8395a7;
    .logo {
      margin-left: 70px;
      span {
        text-transform: capitalize;
        opacity: 1;
      }
      .first {
        text-align: left;
        letter-spacing: 1.15px;
        color: $color-425966;
        font: normal normal normal 40px/54px $Font1;
      }
      .second {
        text-align: left;
        font: normal normal normal 30px/46px $Font2;
        letter-spacing: 0.86px;
        color: $color-d84a4a;
        opacity: 1;
      }
    }
    .navbar {
      position: absolute;
      right: 65px;
      ul {
        display: flex;
        list-style: none;
        font: normal normal normal 13px/20px $Font2;
      }
      li {
        color: $color-425966;
        text-align: left;
        letter-spacing: 0px;
        opacity: 1;
        padding: 0px 15px;
        &.selected {
          color: $color-d84a4a;
        }
        &:hover {
          color: $color-d84a4a;
          text-align: left;
          letter-spacing: 0px;
          opacity: 1;
          cursor: pointer;
        }
      }
    }
    .btnHome {
      height: 25px;
      width: 25px;
      background-image: url(../assets/icons/ic_home.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
      position: absolute;
    }
  }
  .banner {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    contain: content;
    .title {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 300px;
      .first {
        text-align: left;
        letter-spacing: 0px;
        color: $color-text;
        opacity: 1;
        height: 79px;
      }
      .second {
        text-align: left;
        letter-spacing: 0px;
        color: $color-text;
        opacity: 1;
      }
    }
  }
}
.responsiveNavbar {
  background-color: transparent;
  position: absolute;
  .cardMenu {
    background: transparent
      linear-gradient(180deg, #e9f1fa 0%, $color-text 100%) 0% 0% no-repeat
      padding-box;
    box-shadow: 0px 5px 9px #8395a766;
    border-radius: 10px;
    opacity: 1;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    margin-right: 14px;
    contain: content;
    img {
      margin-top: 13.83px;
      width: 31px;
      height: 33px;
    }
    span {
      color: $color-425966;
      text-align: center;
      font: normal normal medium 13px/20px $Font2;
      letter-spacing: 0px;
      opacity: 1;
      bottom: 8.74px;
      position: absolute;
    }
  }
}
.main {
  contain: content;
  width: 100%;
  height: 100%;
  position: absolute;
  .title {
    color: $color-d84a4a;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
  }
  .carousel {
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    .recipeCard {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 1;
      position: relative;
      box-shadow: 10px 10px 20px -5px #cccccc;
      border-radius: 15px;
      margin-top: 25px;
      margin-bottom: 50px;
      margin-right: 25.82px;
      padding-bottom: 20px;
      transition: height 0.2s;
      list-style: none;
      background: transparent
        linear-gradient(180deg, #e9f1fa 0%, $color-text 100%) 0% 0% no-repeat
        padding-box;
      .img {
        border-radius: 50%;
        position: relative;
        top: -25px;
      }
      .score {
        display: flex;
        flex-direction: row;
        padding-left: 11.89px;
        bottom: 12.5px;
        position: absolute;
        width: -webkit-fill-available;
        align-items: center;
        span {
          color: $color-425966;
          text-align: left;
          letter-spacing: -0.52px;
          opacity: 1;
          position: absolute;
        }
        .heart {
          position: absolute;
          right: 19.91px;
        }
      }
      .menu {
        img {
          margin-top: 10px;
          width: 17px;
          height: 17px;
        }
        .subTitle {
          color: $color-d84a4a;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .cardTitle {
        color: $color-d84a4a;
        letter-spacing: 0px;
      }
    }
  }
}
.footer {
  bottom: 23px;
  position: absolute;
  height: 167px;
  width: 100%;
  background: transparent linear-gradient(180deg, #c2e3f3 0%, #6aa3c1 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 4px 6px 23px #a9a9a911;
  opacity: 1;
  .text {
    width: 381px;
    height: 83px;
    position: absolute;
    text-align: left;
    letter-spacing: 0px;
    color: $color-425966;
    opacity: 1;
    span {
      text-align: left;
      letter-spacing: 0px;
      color: $color-425966;
    }
  }
}
.loader, .error {
  margin: 0 auto;
  display: grid;
  place-items: center;
  margin-top: 100px;
  font-size: 30px;
}
